<div class="centered-flex-container">
  <mdl-card mdl-shadow="6">
    <mdl-card-title mdl-color="primary">
      <h2 mdl-card-title-text>Sign in to the application</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      <mdl-textfield type="text" label="Enter your username" floating-label></mdl-textfield>
      <mdl-textfield type="password" label="Enter your password" floating-label></mdl-textfield>          
    </mdl-card-supporting-text>        
    <mdl-card-actions mdl-card-border id="login-actions">                    
      <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple (click)="displayMainScreen()">Sign in</button>
      <button mdl-button mdl-colored="accent">Forgot Password</button>                    
    </mdl-card-actions>
    <mdl-card-actions style="text-align:left">
      <mdl-checkbox mdl-ripple>Remember me</mdl-checkbox>
    </mdl-card-actions>
  </mdl-card>
</div>

